{% extends 'base.html.twig' %}

{% block title %}AfamiaShop | {% trans %} Change Password {% endtrans %}{% endblock %}

{% block body %}
<div class="login_register_wrap section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-10">
                <div class="border_form">
                    <div class="padding_eight_all bg-white">
                        <div class="heading_s1">
                            <h3>{% trans %}Change Password {% endtrans %}</h3>
                        </div>
                        <div>
                            {{ form_start(passwordForm)}}
                                <div class="form-group">
                                    {{ form_row(passwordForm.oldPassword) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(passwordForm.plainPassword.first) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(passwordForm.plainPassword.second) }}
                                </div>
                                
                                <div class="form-group">
                                    <button type="submit" class="btn btn-fill-out btn-block" name="change">{% trans %}Change{% endtrans %}</button>
                                </div>
                                <div class="different_login">
                                    <span><a href="/account">{% trans %}Cancel{% endtrans %}</a></span>
                                </div>
                            {{ form_end(passwordForm)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function() {
        
        document.querySelector('form').addEventListener('submit', function(event) {
            const passwordField = document.querySelector('#password_form_plainPassword_first');
            const passwordConfirmField = document.querySelector('#password_form_plainPassword_second');
            
            if (passwordField.value.length < 6) {
                alert('The password must contain at least 6 characters.');
                passwordField.focus();
                event.preventDefault(); // Empêche la soumission du formulaire
            }
            
            if (passwordField.value !== passwordConfirmField.value) {
                alert('Passwords do not match.');
                passwordConfirmField.focus();
                event.preventDefault(); // Empêche la soumission du formulaire
            }
        });
    };
</script>
{% endblock %}

