{% extends 'baseCheckout.html.twig' %}

{% block title %}Afamia | {% trans %}Checkout Confirmation {% endtrans %}{% endblock %}

{% block body %}
<div class="main_content">
    <div  class="section">
        <div  class="container">
            <div  class="row">
                <div  class="col-md-6">
                   <div  class="order_review">
                        <div class="heading_s1">
                            <h4>{% trans %}Delivery Address{% endtrans %}</h4>
                            <div class="content" id="address">
                                <input class="form-check-input" type="radio" Checked>
                                <label class="form-check-label d-flex justify-content-between">
                                    <span class="d-block fs-base text-dark fw-medium mb-1">{{ delivery}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="order_review">
                        <div class="heading_s1">
                            <h4 >{% trans %}Your Order{% endtrans %}</h4>
                        </div>
                        <div class="table-responsive order_table">
                            <table class="table">
                                <tfoot >
                                    <tr>
                                        <th class="product-total-order">{% trans %}Total{% endtrans %}</th>
                                        <th class="product-total-order">€ {{(subTotalWithTransporter/100)| number_format(2, '.', ',') }}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment-button">
                            <a href="{{ path('payment_stripe', {reference: reference})}}" class="btn btn-fill-out btn-block">
                                {% trans %}Pay now {% endtrans %} € {{ (subTotalWithTransporter/100) | number_format(2, '.', ',') }}
                            </a>
                        </div>
                    </div>
                    <div class="different_login">
                        <span><a href="{{path('app_home')}}">{% trans %}Cancel{% endtrans %}</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
